
.version-1 {
  background-color: #bdf5d3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.version-2 {
  background-color: #ffe1a5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.version-1  .icon{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #88ebb2;
  text-align: center;
  line-height: 50px;
}
.version-2  .icon2{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #ffca6d;
  text-align: center;
  line-height: 50px;
}
.version-1 svg{
   font-size: 30px;
}
.version-1 .version-text h2{
   font-size: 20px;
   font-weight: 600;
   color: #18633A;
}
.version-1 .version-text p{
  font-size: 16px;
  font-weight: 400;
  color: #18633A;
}
.card ul li{
  padding: 8px 0px;
  margin-left: 40px;
  font-size: 16px;
  color: var(--primary-color);
  font-weight: 400;
  position: relative;
}
.card ul li::before {
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--primary-color);
  position: absolute;
  left: -24px;
  top: 42%;
}
body.dark .card.p-3.shadow.change-log{
  background-color: var(--dark-bg-color);
}
body.dark .card ul li {
  color: var(--dark-text-color);
}


