
.searchbox{
  width: 300px;
  height: 40px;
  background: var(--primary-bg);
  border-radius: 5px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  margin-bottom: 0px !important;
}
body.dark .searchbox {
  background-color: #12254e !important;
}
body.dark .searchbox {
  color: #fff !important;
}
.searchbox .icon svg{
   font-size: 20px;
   margin-right: 10px;
}
body.dark .searchbox .icon svg{
  color: var(--dark-text-color);
}
.searchbox input::-webkit-input-placeholder{
    color: var(--dark-text-color);
}
.searchbox input{
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px;
  color: var(--primary-color);
  font-size: 14px;
}

body.dark .searchbox input::-webkit-input-placeholder{
  color: var(--dark-text-color);
}







