
.box-div{
  margin-top: 30px !important;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.box-div .dashboardBox{
  width: 48%;
  height: 200px;
  background-color: var(--dark-text-color);
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  padding: 20px;
}

/* right box */
.anotherBox{
  margin-top: 30px;
  height: 94%;
  width: 100%;
  border-radius: 10px;
  padding: 20px;

  background-image: linear-gradient(to right, #1b61e4 , #144ab6);
}
.anotherBox .right-box{
  display: flex;
  justify-content: space-between;
}
.anotherBox .right-box h4{
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
}

.anotherBox .right-box .dot-abcd svg{
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}

.box-2 .left-content{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 25px;
}

.box-2 .left-content h3{
 color: #fff;
 font-size: 27px;
 font-weight: 800;
}
.box-2 .left-content h5{
   color: #89ECB3;
   font-weight: 700;
   font-size: 16px;
}
.box-2 .left-content p{
  color: #89ECB3;
  font-size: 12px;
}
.box-2 p{
  font-size: 13px;
  font-weight: 400;
  color: #C1E1FC;
  margin-top: 8px;
}

.dashboardBox .cart{
  font-size: 110px;
  position: absolute;
  left: 20px;
  top: 0px;
}
.dashboardBox .cart svg{
color: #6a6a6a3b;
}


/******* table ***********/
.table-box {
  margin-top: 20px;
}
body.dark .card.table-box {
  background-color: var(--heading-color) !important;
}
.top-part {
   display: flex;
   justify-content: space-between;
}
.top-part h4{
   font-size: 17px;
   font-weight: 600;
   color: var(--heading-color);
}
body.dark .top-part h4, body.dark .top-part p svg{
  color: var(--dark-text-color);
}
.cartFilter{
  margin-bottom: 20px;
}
.cartFilter .col-single {
   margin-top: 15px;
}
body.dark .cartFilter .col-single select.form-select{
  background-color: var(--dark-bg-color);
  border: none;
}

body.dark .cartFilter .col-single select.form-select {
  color: var(--dark-text-color);
}

.cartFilter .col-single h4{
  font-size: 12px;
  font-weight: 700;
  color: var(--heading-color);

  margin-bottom: 8px;
}
body.dark .cartFilter .col-single h4{
  color: var(--dark-text-color);
}
.col-single .search input{
  padding: 3px 5px;
  width: 100%;
}
body.dark .col-single .search input{
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
  border: none;
}

/********* box table **********/
 table thead .table-primary th{
  background-color: var(--secondary-color);
  color: #fff !important;
  border-color: rgba(0, 0, 0, 0.1);
}
.table-responsive table thead tr th{
  text-transform: uppercase;
  font-size: 13px;
}
.table-responsive table thead tr td{
  color: var(--primary-color);
  font-size: 13px;
}

tbody tr td input {
  font-size: 20px;
  top: 2px;
  position: relative;
}
tbody tr td .reg-price{
  font-size: 14px;
  color: var(--primary-color);
  text-decoration: line-through;
}
body.dark tbody tr td .reg-price{
  color: var(--dark-text-color);
}

tbody tr td .sale-price{
  font-size: 14px;
  color: red;
}
tbody tr td .three-item{
  display: flex;
  align-items: center;
}

body.dark tbody tr td{
  background-color: var(--dark-bg-color) !important;
  color: #B4B4B4;
}
tbody tr td .three-item .star{
color: #edb213;
font-size: 13px;
}

tbody tr td .three-item span{
  font-size: 14px;
  color: var(--heading-color);
  font-weight: 700;
  padding: 0px 4px;
  margin-top: 3px;
}

tbody tr td .three-item p{
  font-size: 13px;
  font-weight: 400;
  color: var(--primary-color);

  margin-top: 3px;
}
body.dark tbody tr td .three-item p, body.dark tbody tr td .three-item span{
  color: var(--dark-text-color);
}
tbody tr td button{
  border: none;
  border-radius: 4px;
}
tbody tr td .eyeBtn{
  background-color: #fbe5ff;
    color: #be0ee1;
}
tbody tr td .editBtn{
  background-color: #ddfbe9;
  color: #1a9f53;
  margin: 0px 8px;
}
tbody tr td .delBtn{
  background-color: #ffdfe4;
  color: #f11133;
}

.table-product{
   display: flex;
   align-items: center;
   gap: 10px;
   width: 100%;
 
}
.table-product img{
  width: 40px;
  border-radius: 5px;
}

.tab-content p{
  color: var(--heading-color);
 font-weight: 500;
 font-size: 14px;
 padding-left:  0px;
} 
.tab-content h6{
  color: var(--heading-color);
  font-weight: 400;
  font-size: 14px;

}

 body.dark .tab-content p{
  color: var(--dark-text-color);
}
body.dark .tab-content h6{
  color: rgba(255, 255, 255, 0.5) !important;
}

.table-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-footer p{
  color: var(--primary-color);
font-weight: 500;
font-size: 14px;
}
body.dark .table-footer p{
  color: var(--dark-text-color);
}

.revenue-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body.dark .revenue-part {
  background-color: var(--dark-bg-color);
}
.revenue-part .rev-text h4{
  font-size: 17px;
  font-weight: 600;
  color: var(--heading-color);
}
body.dark .revenue-part .rev-text h4, body.dark .revenue-part p svg{
  color: var(--dark-text-color);
}

 body.dark .card.shadow.p-3.abcd{
  background-color: var(--dark-bg-color);
 }  

 .year-select {
  display: flex;
  align-items: center;
  background-color: transparent !important;
  width: 200px;
  height: auto;
  border-radius: 5px;
  border: 1px solid var(--dark-text-color);
  padding-left: 5px;
}
body.dark  .year-select {
  background-color: var(--dark-bg-color);
}
body.dark  .year-select svg {
  color: var(--dark-text-color);
}
.year-select p{
padding-left: 5px;
}
.year-select select{
width: 180px;
border: none;
background-color: transparent;
padding-left: 10px;
}
body.dark .year-select select{
  background-color: var(--dark-bg-color) !important;
  color: var(--dark-text-color);
}
.year-select select:focus{
  outline: none;
  box-shadow: none;
  border: none;
} 
.earning-part{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.earning-part .earn-part1{
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--dark-text-color);
  padding: 15px;
  border-radius: 4px;
}
.earning-part .earn-part1 .bag span svg{
 font-size: 40px;
 color: #408deb;
}
.earning-part .earn-part1 .bag span.book svg{
  color: #36bf71;
}
.earning-part .earn-part1 .bag span.layer svg{
  color: #cd2aeb;
}
.earning-part .earn-part1 .text-info p{
 font-size: 14px;
 color: var(--primary-color);
}
.earning-part .earn-part1 .text-info h4{
 font-size: 20px;
 font-weight: 700;
 color: var(--heading-color);
}
body.dark .earning-part .earn-part1 .text-info p, body.dark .earning-part .earn-part1 .text-info h4{
  color: var(--dark-text-color);
}

/* total-box */
.total-box .box-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px solid var(--dark-text-color);
}
.total-box .box-1 .left-dot{
 display: flex;
 align-items: center;
 gap: 10px;
}
.total-box .box-1 .left-dot p {
  color: #ffffff;
  height: 25px;
  width: 25px;
  background-color: #c229df;
  border-radius: 50%;
  text-align: center;
}
.total-box .box-1 .left-dot p svg{
  font-size: 16px;
  font-weight: 400;
}
.total-box .box-1 .left-dot h6{
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 400;
}
body.dark .total-box .box-1 .left-dot h6, body.dark .total-box .box-1  p{
  color: var(--dark-text-color);
}
.total-box .box-1 .left-dot p.shipped{
  background-color:#3e87e0;
}
.total-box .box-1 .left-dot p.recieved{
  background-color: #29a860;
}
.total-box .box-1 .left-dot p.cancelled{
  background-color: #ea3a54;
}
.total-box .box-1 .left-dot p.refunded{
  background-color: #e0a518;
}
body.dark .card.shadow.p-3.right-part2{
  background-color: var(--dark-bg-color);
}


/****** Responsive css *******/
@media (min-width : 320px) and (max-width: 576px){
  .box-div .dashboardBox {
    width: 100%;
}
.card.table-box.p-3.border-0.shadow {
  margin-top: 35px;
}
table.table.table-bordered{
  display: flex;
  flex-direction: row;
}
table.table.table-bordered thead{
  width: 30% !important;
  flex: 0 0 30%;
}
table.table.table-bordered thead tr{
  display: flex !important;
  flex-direction: column;

}
table.table.table-bordered tbody {
  width: 70% !important;
  flex: 0 0 70%;
}
table.table.table-bordered tbody tr{
  display: flex !important;
  flex-direction: column;
}
.table-responsive table tbody tr td p {
  text-align: left;
}
.table-footer {
  display: flex;
  flex-direction: column;
}
.earning-part {
  flex-direction: column;
  gap: 10px;
}
.card.shadow.p-3.right-part2 {
  margin-top: 10px;
}


}


/****** min-width 576px && max-width: 768px  *******/
@media (min-width : 576px) and (max-width: 768px){
.row.dashboard-div {
    display: flex;
    flex-direction: column;
}
.col-sm-8.box-div {
  flex: 0 0 auto;
  width: 100%;
}
.col-sm-4.box-div2 {
  flex: 0 0 auto;
  width: 100%;
}
.tab-content {
  display: none;
}
.revenue-box-part {
  display: flex;
  flex-direction: column;
}
.revenue-box-part-left{
  width: 100% !important;
}
.revenue-box-part-right{
  width: 100% !important;
  margin-top: 15px !important;
}

}




