
.loginSection.register{
  height: auto;
  padding: 30px 30px;
  z-index: -1;
}
.loginSection .loginBox h3{
  width: 80px;
  color: var(--heading-color);
}
body.dark .loginSection .loginBox h4 {
  color: var(--dark-text-color);
}
.form-wrapper  form .mb-3.pass-field{
  position: relative;
}
.form-wrapper  form .mb-3.pass-field span button{
    position: absolute;
    right: 4%;
    top: 14%;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
}
.form-wrapper  form .mb-3.pass-field span button svg{
  font-size: 20px;
} 
.left-part1{
   display: flex;
   justify-content: center;
   align-items: center;
}
.banner-content h2 {
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.banner-content p {
  font-size: 17px;
  margin-bottom: 40px;
}
body.dark .banner-content p , body.dark  .banner-content h2 {
  color: var(--dark-text-color);
}
.banner-content button.my-btn.home-page {
  text-transform: uppercase;
  padding: 10px 25px;
  font-weight: 500;
  font-size: 16px;
}
.banner-content button.my-btn.home-page a{
  text-transform: uppercase;
}
.banner-content button svg{
  font-size: 20px;
}
.loginSection .loginBox{
  text-align: center;
}
.loginSection .loginBox img{
   width: 60px;
}
.loginSection .loginBox h3{
   width: 80px;
   color: var(--heading-color);
}
.loginSection .form-wrapper.res-form {
  margin-top: 20px;
  width: 400px;
  height: auto !important;
  padding: 30px;
}
form .mb-3{
  position: relative;
}
form .mb-3 .icon{
  position: absolute;
  left: 10px;
  top: 7px;
}
form .mb-3 .icon svg{
font-size: 18px;
} 
form .mb-3 .form-control:focus{
  outline: none;
  box-shadow: none;
  border: 1px solid  var(--secondary-color);
}
form .mb-3 input {
  padding-left: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent;
}
form .mb-3 .form-select{
  padding-left: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent !important;
} 
form .mb-3 .form-select:focus{
  outline: none;
  box-shadow: none;
  border: 1px solid  var(--secondary-color);
} 
form input[type="checkbox"] {
  height: 16px;
  width: 16px;
  position: relative;
  top: 2px;
  margin-right: 4px;
}
form input span.checkBox{
  font-size: 15px;
  color: var(--primary-color);
}
.forget{
  text-align: center;
}
.forget a{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--primary-color);
}
.forget a:hover{
text-decoration: underline;
}
.or-div{
margin-bottom: 10px;
position: relative;
}
.or-div p{
  margin: auto;
  font-size: 12px;
  color: var(--primary-color);
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #d1d1d1;
  line-height: 30px;
  text-transform: uppercase;
}
.or-div::before {
  background-color: #d1d1d1 !important;
  content: "";
  height: 1px;
  left: 0px;
  position: absolute;
  top: 14px;
  width: 46%;
}
.or-div:after {
  background-color: #d1d1d1;
  content: "";
  height: 1px;
  right: 3px;
  position: absolute;
  top: 14px;
  width: 45%;
}
.my-btn{
  text-transform: uppercase;
  background-color: var(--secondary-color);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 0px;
  border: none;
  border-radius: 8px;
}
.my-btn a{
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
}
.my-btn.twiter{
  background-color: #00acee;
}
.my-btn.twiter svg{
 margin-right: 8px;
}
.my-btn.facebook{
  background-color: #3b5998;
}
.wrapperCard{
  margin-top: 20px;
  width: 400px;
  height: auto;
  padding: 20px 0px;
  text-align: center;
  margin-bottom: 40px;
}
.wrapperCard p{
  font-size: 15px;
  font-weight: 400;
  color: var(--primary-color);
}
.wrapperCard p a{
  font-size: 15px;
  font-weight: 600;
}
.wrapperCard p a:hover{
  text-decoration: underline;
}
body.dark .form-wrapper.res-form.card.shadow.register ,
body.dark .or-div p, body.dark .forget a,  
body.dark .wrapperCard{
  background-color: var(--dark-bg-color);
}
body.dark span.checkBox {
  color: var(--dark-text-color);
}

/****** Responsive css *******/
@media (min-width : 320px) and (max-width: 576px){
.loginSection.register {
  padding: 30px 10px;
}
.banner-content{
  text-align: center;
}
.banner-content h2 {
  font-size: 19px;
  font-weight: 700;
}
.loginSection .loginBox {
  margin-top: 32px;
}
.loginSection .form-wrapper.res-form {
  width: 345px;
}
.wrapperCard.card.shadow {
  width: 100%;
}

}

/****** Responsive csss ******/

@media (min-width : 576px) and (max-width: 768px){
.register-part{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.col-sm-7.left-part1 {
 width: 100%;
}
.banner-content {
  text-align: center;
}
.banner-content h2 {
  font-size: 33px;
  text-align: center;
}
.banner-content p {
  text-align: center;
}
.register-right-part{
  width: 100% !important;
}
.loginSection .loginBox {
  margin-bottom: 20px;
}
.loginSection .form-wrapper.res-form {
  margin: auto;
  
}

} 




