
.right-content{
   padding-top: 30px;
   padding-right: 20px;
   padding-bottom: 25px;
}

.right-content .dashboardBoxErapper .dashboard{
    height: 60px;
    width: 100%;
    background: #fff;
    color: #000000;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.right-content .dashboardBoxErapper .dashboard nav ol{
  margin-bottom: 0;
}
.right-content .dashboardBoxErapper .dashboard h2{
   font-size: 20px;
   font-weight: 500;

}

.box-div{
  margin-top: 30px !important;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.box-div .dashboardBox{
  width: 48%;
  height: 200px;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  padding: 20px;
}




/* right box */
.anotherBox{
  margin-top: 30px;
  height: 94%;
  width: 100%;
  border-radius: 10px;
  padding: 20px;

  background-image: linear-gradient(to right, #1b61e4 , #144ab6);
}
.anotherBox .right-box{
  display: flex;
  justify-content: space-between;
}
.anotherBox .right-box h4{
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
}
.anotherBox .right-box .dot-abcd{
    
}
.anotherBox .right-box .dot-abcd svg{
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}

.box-2 .left-content{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 25px;
}

.box-2 .left-content h3{
 color: #fff;
 font-size: 27px;
 font-weight: 800;
}
.box-2 .left-content h5{
   color: #89ECB3;
   font-weight: 700;
   font-size: 16px;
}
.box-2 .left-content p{
  color: #89ECB3;
  font-size: 12px;
}
.box-2 p{
  font-size: 13px;
  font-weight: 400;
  color: #C1E1FC;
  margin-top: 8px;
}

.dashboardBox .cart{
  font-size: 110px;
  position: absolute;
  left: 20px;
  top: 0px;

  
}

.dashboardBox .cart svg{
color: #6a6a6a3b;
}


/* table */

.table-box {
  margin-top: 20px;
}

.top-part {
   display: flex;
   justify-content: space-between;
}
.top-part h4{
   font-size: 17px;
   font-weight: 600;
   color: #403E57;
}
.cartFilter{
  margin-bottom: 20px;
}

.cartFilter .col-single {
   margin-top: 15px;
}
.cartFilter .col-single h4{
  font-size: 12px;
  font-weight: 700;
  color: #403E57;

  margin-bottom: 8px;
}

.col-single .search input{
  padding: 3px 5px;
  width: 100%;
}

/* box table */
 table thead .table-primary th{
  background-color: #1b61e4 !important;
  color: #fff !important;
  border-color: rgba(0, 0, 0, 0.1);
}
.table-responsive table thead tr th{
  text-transform: uppercase;
  font-size: 13px;
}
.table-responsive table thead tr td{
  color:#5E5D72;
  font-size: 13px;
}

tbody tr td input {
  font-size: 20px;
  top: 2px;
  position: relative;
}
tbody tr td .reg-price{
  font-size: 14px;
  color: #5E5D72;
  text-decoration: line-through;
}

tbody tr td .sale-price{
  font-size: 14px;
  color: red;
}
tbody tr td .three-item{
  display: flex;
  align-items: center;
}

tbody tr td .three-item .star{
color: #edb213;
font-size: 13px;
}

tbody tr td .three-item span{
  font-size: 14px;
  color: #403E57;
  font-weight: 700;
  padding: 0px 4px;
  margin-top: 3px;
}

tbody tr td .three-item p{
  font-size: 13px;
  font-weight: 400;
  color: #5E5D72;
  margin-top: 3px;
}
tbody tr td button{
  border: none;
  border-radius: 4px;
}
tbody tr td .eyeBtn{
  background-color: #fbe5ff;
    color: #be0ee1;
}
tbody tr td .editBtn{
  background-color: #ddfbe9;
  color: #1a9f53;
  margin: 0px 8px;
}
tbody tr td .delBtn{
  background-color: #ffdfe4;
  color: #f11133;
}

.table-product{
   display: flex;
   align-items: center;
   gap: 10px;
   width: 100%;
 
}
.table-product img{
  width: 40px;
  border-radius: 5px;
}

.tab-content p{
 color: #403E57;
 font-weight: 500;
 font-size: 14px;
} 
.tab-content h6{
  color: #403E57;
  font-weight: 400;
  font-size: 14px;
}

.table-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-footer p{
color:#5E5D72;
font-weight: 500;
font-size: 14px;
}


.revenue-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.revenue-part .rev-text h4{
  font-size: 17px;
  font-weight: 600;
  color: #403E57;
}

 .year-select {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  width: 200px;
  height: auto;
  border-radius: 5px;
  border: 1px solid rgb(218, 218, 218);
  padding-left: 5px;
}

.year-select p{
padding-left: 5px;
}

.year-select select{
width: 180px;
border: none;

padding-left: 10px;
}


.year-select select:focus{
  outline: none;
  box-shadow: none;
  border: none;
} 
.earning-part{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.earning-part .earn-part1{
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid rgb(215, 215, 215);
  padding: 15px;
}

.earning-part .earn-part1 .bag span svg{
 font-size: 40px;
 color: #408deb;
}
.earning-part .earn-part1 .bag span.book svg{
  color: #36bf71;
}
.earning-part .earn-part1 .bag span.layer svg{
  color: #cd2aeb;
}
.earning-part .earn-part1 .text-info p{
 font-size: 14px;
 color: #5E5D72;
}
.earning-part .earn-part1 .text-info h4{
 font-size: 20px;
 font-weight: 700;
 color: #403E57;

}


/* total-box */
.total-box{

}

.total-box .box-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px solid rgb(207, 207, 207);
}

.total-box .box-1 .left-dot{
 display: flex;
 align-items: center;
 gap: 10px;
}

.total-box .box-1 .left-dot p {
  color: #ffffff;
  height: 25px;
  width: 25px;
  background-color: #c229df;
  border-radius: 50%;
  text-align: center;
}
.total-box .box-1 .left-dot p svg{
  font-size: 16px;
  font-weight: 400;
}
.total-box .box-1 .left-dot h6{
  color: #5E5D72;
  font-size: 15px;
  font-weight: 400;
}
.total-box .box-1 .left-dot p.shipped{
  background-color:#3e87e0;
}
.total-box .box-1 .left-dot p.recieved{
  background-color: #29a860;
}
.total-box .box-1 .left-dot p.cancelled{
  background-color: #ea3a54;
}
.total-box .box-1 .left-dot p.refunded{
  background-color: #e0a518;
}




