
.fields-header h4{
   font-size: 18px;
   font-weight: 500;
   color: var(--heading-color);
}
.mb-3.custon-field{
  position: relative;
}
.mb-3.custon-field input, .mb-3.custon-field select {
  padding: 10px 35px;
  background-color: #f8f8f8 !important;
}
.mb-3.custon-field input.abcde, .mb-3.custon-field select.abcde {
  padding: 13px 35px;
  background-color: #f8f8f8 !important;
}
.mb-3.custon-field input.defg, .mb-3.custon-field select.defg {
  padding: 13px 35px;
  background-color: #f8f8f8 !important;
}
input.form-control, textarea.form-control, select.form-control {
  background-color: #f8f8f8;
}
.mb-3.custon-field span.icon {
  position: absolute;
  left: 10px;
  top: 8px;
  font-size: 20px;
}
.mb-3.custon-field span.icon-abc {
  position: absolute;
  left: 10px;
  top: 32px;
  font-size: 20px;
}
h4.custom-size{
  font-size: 16px;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 25px;
}
label{
  font-size: 12px;
  font-weight: 700;
  color: var(--heading-color);
}

body.dark .card.p-3.my-5.shadow{
  background-color: var(--dark-bg-color);
}
body.dark .fields-header h4{
  color: var(--dark-text-color);
}
body.dark .head-line{
  color: var(--dark-text-color);
}
body.dark label{
  color: var(--dark-text-color);
}
body.dark .mb-3.custon-field input, 
body.dark .mb-3.custon-field select {
  background-color: #364a76 !important;
  border: none;
}
body.dark  .mb-3.custon-field input.abcde, 
body.dark  .mb-3.custon-field select.abcde {
  background-color: #364a76 !important;
  border: none;
}
body.dark  .mb-3.custon-field input.defg, 
body.dark  .mb-3.custon-field select.defg {
  background-color: #364a76 !important;
  border: none;
}

