
.dashboardBoxErapper .dashboard{
  height: 60px;
  width: 100%;
  background: #fff;
  color: #000000;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.breadcrumb-item a{
  color: var(--secondary-color);
}
.right-content .dashboardBoxErapper .dashboard nav ol{
margin-bottom: 0;
}
.right-content .dashboardBoxErapper .dashboard h2{
 font-size: 20px;
 font-weight: 500;
}
body.dark .right-content .dashboardBoxErapper .dashboard{
  background-color: #12254e !important;
}
body.dark .right-content .dashboardBoxErapper .dashboard h2{ 
color: var(--dark-text-color);
}
body.dark .right-content .dashboardBoxErapper .dashboard nav ol li{ 
color: var(--dark-text-color);
}


/**** Responsive csss ******/
@media (min-width : 320px) and (max-width: 576px){
  .dashboardBoxErapper .dashboard{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100px ;
    width: 100% !important;
  }
}


