
.output{
  padding-left: 20px !important;
}

.row .col-sm-2{
  width: 20%;
  flex: 0 0 20%;

  transition: all 0.3s ease-in-out;
}

.row .col-sm-2.toggle{
  width: 0%;
  flex: 0 0 0%;

  opacity: 0;
}

.row .col-sm-2 .side-bar{
  transition: all 0.3s ease-in-out;

}

.row .col-sm-2.toggle .side-barr{
left: -100%;

}

.row .col-sm-10.output{
  width: 80%;
  transition: all 0.3s ease-in-out;
}

.row .col-sm-10.output.toggle{
  width: 100%; 
  flex: 0 0 100%;
}









