
/* 2nd part  */
.revenue-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body.dark .revenue-part {
  background-color: var(--dark-bg-color);
}
.revenue-part .rev-text h4{
  font-size: 17px;
  font-weight: 600;
  color: var(--heading-color);
}
body.dark .revenue-part .rev-text h4, body.dark .revenue-part p svg{
  color: var(--dark-text-color);
}
p.same-title{
  font-size: 12px;
  font-weight: 700;
  color: var(--heading-color);
  margin-bottom: 10px;
  margin-top: 20px;
}
body.dark p.same-title{
  color: var(--dark-text-color);
}
input.form-control, textarea.form-control, select.form-control{
  background-color: var(--dark-text-color);
  color: #66769b;
}
body.dark input.form-control, body.dark textarea.form-control, body.dark select.form-control{
  background-color: #364a76;
  color: var(--dark-text-color);
  border: none;
}
input.form-control:focus, textarea.form-control:focus, select.form-control:focus{
  box-shadow: none;
  outline: none;
}
.custom-row{
  display: flex;
  align-items: center;
}
.row .right-part2-category{
  width: 75% !important;
}

.row .col-sm-2.cat-btn{
  width: 25% !important;
}
.row .col-sm-2.cat-btn button{
  position: relative;
  width: 100%;
  top: 25px;
}
.product-image-upload {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 20px; 
}
.product-image-upload .box-product-1{
  border: 1px solid var(--dark-text-color);
  border-radius: 8px;
  height: 200px;
  width: 205px;
  overflow: hidden;

  transition: all 0.3s ease-in-out;
}
.product-image-upload .box-product-1 img{
  width: 170px;
  cursor: pointer;
  border-radius: 5px;
}
.product-image-upload .box-product-1:hover{
  border: 2px dashed var(--secondary-color);
  border-radius: 8px;
}
.product-image-upload .box-product-1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.product-image-upload .box-product-1 .collection svg{
  font-size: 100px;
  cursor: pointer;
}
.product-image-upload .box-product-1 a{
  font-size: 15px;
  color: var(--heading-color);
  cursor: pointer;
}

body.dark .card.p-4.mt-4.shadow.size-color{
  background-color: var(--dark-bg-color);
}

body.dark .card.shadow.p-3.media-image{
  background-color: var(--dark-bg-color);
}

body.dark .product-image-upload .box-product-1 a , body.dark  .product-image-upload .box-product-1 .collection svg{
  color: var(--dark-text-color);
}

body.dark  .col-sm-10.right-part2-category input::-webkit-input-placeholder {
  color: var(--dark-text-color);
}

body.dark  .col-sm-6 input::-webkit-input-placeholder, 
body.dark  .title input::-webkit-input-placeholder, 
body.dark .description textarea::-webkit-input-placeholder{
  color: var(--dark-text-color);
}

