
/********** Product galary css *********/
.product-view .left-view-part h6{
   font-size: 16px;
   font-weight: 600;
   color: var(--heading-color);
   margin-bottom: 20px;
   position: relative;
}
.product-view .right-view-part h6{
   font-size: 16px;
   font-weight: 600;
   color: var(--heading-color);
   margin-bottom: 20px;
   position: relative;
}
body.dark .product-view .right-view-part h6, body.dark .product-view .left-view-part h6{
  color: var(--dark-text-color);
}
.product-view .left-view-part h6::after {
  content: "";
  height: 1px;
  width: 73%;
  background-color: var(--dark-text-color);
  position: absolute;
  top: 49%;
  left: 27%;
}
.product-view .right-view-part h6::after {
  content: "";
  height: 1px;
  width: 81%;
  background-color: var(--dark-text-color);
  position: absolute;
  top: 49%;
  left: 19%;
}
.product-view .left-view-part .product-view-galary{
  padding-left: 10px;
}
.product-view .left-view-part .product-view-galary img{
   width: 480px;
   border: 2px dashed var(--dark-text-color) ;
   border-radius: 8px;
}
.galary-view .single-img-view{
  padding: 20px 0px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 10px;
}
.galary-view .single-img-view .img-box img{
   width: 100px;
}
.product-description{
  padding-left: 10px;
}
.product-description h3{
  font-size: 22px;
  font-weight: 600;
  color: var(--heading-color);
  margin-bottom: 10px;
}
body.dark .product-description h3{
  color: var(--dark-text-color);
}
.product-view-meta {
   display: flex;
   align-items: center;
   gap: 10px;
   padding-top: 11px;
}
.product-view-meta h5{
  width: 90px;
  font-size: 15px;
  text-transform: capitalize;
  color: var(--heading-color);
}
.product-view-meta span.brand svg{
  font-size: 16px;
  color: var(--heading-color);
}
.product-view-meta p{
  font-size: 15px;
  text-transform: capitalize;
  color: var(--primary-color);
}
.product-view-meta ul{
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-view-meta ul li{
  background-color: #f0f0f0;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 500;
  padding: 4px 8px;
  text-transform: uppercase;
}
body.dark .product-view-meta h5, 
body.dark .product-view-meta span.brand svg,
body.dark .product-view-meta p{
  color: var(--dark-text-color);
}
.product-view-meta p span.reg-price{
  font-size: 15px;
  text-transform: capitalize;
  color: red;
  text-decoration: line-through;
}
.product-short-desc{
  position: relative;
  padding-top: 20px;
}
.customer{
  position: relative;
  padding-top: 20px;
}
.product-short-desc h6::after {
  content: "";
  height: 1px;
  width: 85%;
  background-color:var(--dark-text-color);
  position: absolute;
  top: 14%;
  left: 15%;
}
.customer h6::after {
  content: "";
  height: 1px;
  width: 85%;
  background-color: var(--dark-text-color);
  position: absolute;
  top: 82%;
  left: 12%;
}
.product-short-desc p{
  margin-top: 30px;
  font-size: 15px;
  font-weight: 400;
  color: var(--primary-color);
  line-height: 28px;
}
body.dark .customer h6, body.dark .product-short-desc p , body.dark .product-short-desc h6 {
  color: var(--dark-text-color);
}
.progress-box ul{
margin-top: 20px;

}
.progress-box li{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0px;
}
.progress-box li .review-width{
   height: 5px;
   width: 250px;
   background-color: var(--dark-text-color);
   padding: 5px 0px;
   position: relative;
   border-radius: 5px;
   overflow: hidden;
}

.progress-box li .review-width .review-color{
   height: 5px;
   width: 220px;
   background-color: #edb213;
   padding: 5px 0px;
   position: absolute;
   top: 0px;
   left: 0px;
}
.progress-box li .review-width .review-color.four{
   width: 180px;
}
.progress-box li .review-width .review-color.three{
   width: 150px;
}
.progress-box li .review-width .review-color.two{
   width: 110px;
}
.progress-box li .review-width .review-color.one{
   width: 50px;
}

.total-review{
text-align: center;
margin-top: 20px;
}
.total-review h3 {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.total-review h4{
  color: var(--primary-color);
  font-size: 80px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 60px;
  margin-bottom: 20px;
}

.total-review .rev-icon svg{
  color: #edb213;
  font-size: 20px;
  margin: 0px 2px;
}
.total-review p{
  font-size: 16px;
  text-transform: capitalize;
  color: var(--primary-color);
}

body.dark .progress-box ul li span, body.dark .total-review h3 , body.dark .total-review h4 , body.dark .total-review p{
  color: var(--dark-text-color);
}
.customer.bottom h6::after{
  content: "";
  height: 1px;
  width: 85%;
  background-color: var(--dark-text-color);
  position: absolute;
  top: 82%;
  left: 14%;
}
.left-cutomer-rev{
  background-color: #f8f8f8;
  border-radius: 10px;
  margin-left: 10px;
  width: 90% !important;
}

.left-cutomer-rev.admin{
  background-color: var(--dark-text-color);
  border-radius: 10px;
  
  width: 82% !important;
}
.left-cutomer-rev p.admin-text{
  margin-top: 20px;
}
.left-cutomer-gap{
  width: 6%;
}
.left-cutomer-rev p{
  margin-top: 10px;
  font-size: 15px;
  color: var(--primary-color);
}
.customer-single-box{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.name-box {
  display: flex;
  align-items: center;
  gap: 15px;
}
.name-box img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
  padding: 2px;
}
.name-time h3{
  font-size: 15px;
  color: var(--primary-color);
  font-weight: 600;
}
.name-time p{
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 400;
}

.rating-customer span svg{
  color: #edb213;
 font-size: 20px;
 margin: 0px 2px;
}
.rating-customer span{
  position: relative;

}
.rating-customer span p{
  background-color: #5a5a5a;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  letter-spacing: .5px;
  padding: 4px 7px;
  text-transform: uppercase;
  position: absolute;
  top: -25px;
  left: 0px;
}
.replay-btn button svg{
  font-size: 22px;
}
.right-part-rev span  {
  background-color: var(--dark-text-color);
  border-radius: 50%;
  height: 35px !important;
  line-height: 35px;
  text-align: center;
  width: 35px !important;
  display: block;
}
body.dark .right-part-rev span{
  background-color: #071739;
  color: var(--dark-text-color);
}
.right-part-rev span svg{
  font-size: 16px;
}
.customer.review-replay h6::after {
  content: "";
  height: 1px;
  width: 85%;
  background-color: var(--dark-text-color);
  position: absolute;
  top: 82%;
  left: 14%;
}
.message-form {
   margin-top: 20px;
}
.message-form textarea{
  width: 100% !important;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--dark-text-color);
}
body.dark .message-form textarea{
   background-color: var(--dark-bg-color);
}
button.drop-btn{
  width: 100%;
  padding: 10px 0px;
  text-transform: uppercase;
}

body.dark .product-view.card.shadow.p-4.my-4.dark-mode, body.dark .rating-customer span p, body.dark , body.dark  {
  background-color: #1b2b4d !important;
}
body.dark  .col-sm-11.left-cutomer-rev.p-5{
  background-color: #071739 !important;
}
body.dark  .name-time h3{
  color: var(--dark-text-color);
}
body.dark  .name-time h3 , body.dark .name-time p, body.dark .left-cutomer-rev p {
  color: var(--dark-text-color);
}
body.dark .col-sm-10.left-cutomer-rev.p-5.admin{
  background-color: #071739 !important;
}