
.full-collum{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0px;
}
.full-collum .icon-blank svg{
   font-size: 150px;
   color: var(--dark-text-color);
}
.full-collum h3{
   font-size: 22px;
   color: #9A9A9A;
   font-weight: 500;
   margin-top: 20px;
}

body.dark .full-collum .icon-blank svg{
   background-color: var(--dark-bg-color);
}










