
/* top part css */
.top-part {
  display: flex;
  justify-content: space-between;
}
.top-part h4{
  font-size: 17px;
  font-weight: 600;
  color: var(--heading-color);
}
body.dark .top-part h4, body.dark .top-part p svg{
  color: var(--dark-text-color);
}
/* bottom bar  */
.bottom-bar-notification.not-page{
  height: auto !important;
  overflow-y: auto !important;
  overflow-x: auto !important;
  max-height: 100%;
}
.bottom-bar-notification.not-page  .single-item-noti{
  display: flex;
  align-items: center;
  background-color: var(--primary-bg);
  padding: 8px 5px;
  border-radius: 5px;
}
.left-part-noti{
  display: flex;
  align-items: center;
  gap: 15px;
}

body.dark .bottom-bar-notification.not-page  .single-item-noti{
  background-color: #12254e !important;
  color: var(--dark-text-color);

}
body.dark .bottom-bar-notification.not-page  .single-item-noti svg{
  color: var(--dark-text-color);
}
.bottom-bar-notification.not-page  .single-item-noti.custom{
  display: flex;
  align-items: center;
}

.bottom-bar-notification.not-page  .single-item-noti .not-image {
  position: relative;
  width: 60px;
  height: 63px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 5px;
}
.bottom-bar-notification.not-page  .single-item-noti .not-image.cart-abc {
  position: relative;
  width: 44px;
  height: 53px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 5px;
}
.bottom-bar-notification.not-page  .single-item-noti .not-image  .media-act {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #27bf68;
  cursor: pointer;
  left: 29px;
  top: -12px !important;
  border: 1px solid var(--dark-text-color);
}

.bottom-bar-notification.not-page  .single-item-noti .not-image  img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.bottom-bar-notification.not-page  .single-item-noti .not-image  img.mail-img {
border: 2px solid var(--secondary-color);
padding: 2px;
}

.bottom-bar-notification.not-page  .single-item-noti .not-image .media {
  position: absolute;
  top: 40px;
  left: 32px;
}

.bottom-bar-notification.not-page  .single-item-noti .not-image .media svg{
  color: #fff;
  background-color: red;
  font-size: 22px;
  border: 2px solid var(--dark-text-color);
  border-radius: 50%;
  padding: 2px;
}
.bottom-bar-notification.not-page  .single-item-noti .not-info{
  cursor: pointer;
}
.bottom-bar-notification.not-page  .single-item-noti .not-info h4{
  font-size: 13px;
}
.single-item-noti .not-info p{
  color: var(--secondary-color);
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}
.single-item-noti .not-info h6{
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}
.single-item-noti .noti-drop button{
   border: none;
   background: transparent;
}
.single-item-noti .noti-drop button svg{
font-size: 20px;
}

body.dark .card.shadow.p-3.my-4.not-part{
  background-color: var(--dark-bg-color);
}





