
.custom-alert h4{
  font-size: 17px;
  font-weight: 600;
  color: var( --heading-color);
}

body.dark .card.my-4.p-3.custom-alert {
  background-color: var(--dark-bg-color);
} 
body.dark .custom-alert h4{
   color: var(--dark-text-color);
}

/**** Responsive csss *******/
@media (min-width : 576px) and (max-width: 768px){
.custom-avater {
  display: flex;
  gap: 8px !important;
}



}


