
.box-div.analytics{
  margin-top: 30px !important;
  gap: 20px;
}
.box-div.analytics .dashboardBox{
  width: 23% !important;
  height: 180px;
  background-color: var(--dark-text-color);
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 20px;
}
body.dark .card.shadow.p-3.analytic-part , body.dark  .card.shadow.p-3.overview-part{
  background-color: var(--dark-bg-color);
}
.revenue-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.revenue-part .rev-text h4{
  font-size: 17px;
  font-weight: 600;
  color: var(--heading-color);
}

 .year-select {
  display: flex;
  align-items: center;
  background-color: var(--dark-text-color);
  width: 200px;
  height: auto;
  border-radius: 5px;
  border: 1px solid var(--dark-text-color);
  padding-left: 5px;
}

.year-select p{
padding-left: 5px;
}

.year-select select{
width: 180px;
border: none;

padding-left: 10px;
}


.year-select select:focus{
  outline: none;
  box-shadow: none;
  border: none;
} 

/* country  */
.country .single-country{
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid var(--dark-text-color);
   padding-bottom: 15px;
   padding-top: 14px;

}
.country .single-country .flag{
  display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}
.country .single-country .flag img{
  border-radius: 5px;
}
.country .single-country .flag .name h5{
   font-weight: 500;
   font-size: 11px;
   color: var(--primary-color);

}
.country .single-country .flag .name h4{
  font-weight: 600;
   font-size: 15px;
   color: var(--primary-color);
   margin-top: 3px;
}
.country .single-country .value p{
  font-weight: 500;
   font-size: 11px;
   color: var(--primary-color);
}
.country .single-country .value h6{
  font-weight: 600;
  font-size: 14px;
  color: var(--heading-color);
  margin-top: 3px;
}
.country .single-country .seo p{
  font-weight: 500;
   font-size: 11px;
   color: var(--primary-color);
}
.country .single-country .seo h5{
  font-weight: 600;
  font-size: 14px;
  color: var(--heading-color);
  margin-top: 3px;
}

body.dark .country .single-country .flag .name h4, 
body.dark .country .single-country .value h6,
body.dark .country .single-country .seo h5 {
  color: var(--dark-text-color);
}
body.dark .country .single-country .flag .name h5, 
body.dark .country .single-country .value p,
body.dark .country .single-country .seo p
 {
  color: var(--dark-text-color);
}


/****** Responsive css *******/
@media (min-width : 320px) and (max-width: 576px){
.box-div {
    flex-direction: column;
}
.box-div.analytics .dashboardBox {
  width: 100% !important;
  height: 180px;
  background-color: var(--dark-text-color);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 20px;
}
.card.shadow.p-3.overview-part {
  margin-top: 15px;
}
.single-chart {
  height: 205px !important;
  width: 100%;
}


}

/******** min-width : 576px  and max-width : 768px ********/
@media (min-width : 576px) and (max-width: 768px){
.box-div.analytics .dashboardBox {
  width: 46% !important;
}
.visitor-part {
  display: flex;
  flex-direction: column;
}
.col-sm-7.visitor-part-left {
  flex: 0 0 auto;
  width: 100%;
}
.col-sm-5.visitor-part-right {
  flex: 0 0 auto;
  width: 100%;
  margin-top: 20px;
}


}





