
header{
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 12px 0px;
  position: sticky;
  top: 0px;
  left: 0px;
  
  z-index: 99999;
}
body.dark header{
  background-color: #112143 !important;
}
.header-row {
  display: flex;
  align-items: center;
}
.logo a img{
  width: 45px;
 margin-left: 20px;
}
.logo a span{
  font-size: 25px;
  font-weight: 800;
  color: #403E57;
  margin-left: 2px;
}
.mobile-menu{
  opacity: 0;
  visibility: hidden;
  width: 0% !important;
}
body.dark .logo a span{
  color: #fff !important;
  opacity: 0.9;
}

/****** menu part *******/
.menu-part{
  display: flex;
  align-items: center;
  position: relative;
}
.menu-part button.open-btn {
  border: none;
  background: var(--primary-bg);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  position: relative;
}
body.dark .menu-part button.open-btn{
  background-color: #12254e !important;
}
body.dark .menu-part button.open-btn svg{
  color: #fff !important;
  opacity: 0.8;
}
.menu-part button.open-btn:hover svg{
  color: var(--secondary-color);
}
.menu-part button svg{
  color: var(--primary-color);
  font-size: 22px;
}
.menu-part.menu-last{
  display: flex;
  align-items: center;
  justify-content: end;
}
.menu-part.menu-last .open-btn{
  margin-right: 15px;
}
.search-box{
  margin-bottom: 0px !important;
}
.myAcc{
  background: transparent;
  border: none;
  position: relative;
}
.myAcc .user-img{
  border: 1px solid var(--secondary-color);
  padding: 2px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}
.myAcc .rounded-circle img{
  width: 33px;
  border-radius: 50%;
  overflow: hidden;
}
.myAcc .user-name{
  margin-left: 5px;
}
.myAcc .user-name .name{
   display: flex;
   align-items: center;
   gap: 5px;
}
.myAcc .user-name .name h4{
  font-size: 14px;
  font-weight: 600;
  color: #403E57;
  text-transform: capitalize;
}
.user-name .name .drop-icon svg{
  font-size: 14px;
  color: #403E57;
}
button.signUp-btn{
  background-color: var(--secondary-color);
  color: #fff;
  padding: 8px 22px !important;
  display: block;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
}
.myAcc .user-name .nick-name{
font-size: 12px;
color: #403E57;
text-align: left;
}  
body.dark .myAcc .user-name .name h4{
  color: var(--dark-text-color);
}
body.dark .myAcc .user-name .nick-name{
  color: var(--dark-text-color);
}
.menu-part ul.dropdown-menu-item {
  position: absolute;
  top: 58px ;
  right: 2%;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 20px;
}
body.dark .menu-part ul.dropdown-menu-item {
  background-color: #12254e !important;
}
.menu-part ul.dropdown-menu-item li {
  padding: 5px 0px;
} 
.menu-part ul.dropdown-menu-item li a{
   color:  #101016;
   font-size: 15px;
   font-weight: 600;
   text-transform: capitalize;
   display: block;
} 
body.dark .menu-part ul.dropdown-menu-item li a{
  color: var(--dark-text-color);
} 
.menu-part ul.dropdown-menu-item li a svg{
  font-size: 18px ;
  margin-right: 5px;
}
body.dark .menu-part ul.dropdown-menu-item li a svg{
  color: var(--dark-text-color);
} 
.menu-part ul.dropdown-menu-item li:last-child a{
  color: red;
}
.notification-drop{
  position: absolute;
  top: 60px;
  right: 18%;
  background: #fff;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  
}
body.dark .notification-drop{
  background-color: #12254e !important;
}
.notification-drop.cart-dropd{
  position: absolute;
  top: 60px;
  right: 18%;
  background: #fff;
  padding: 10px;
  width: 260px;
  border-radius: 5px;
}

.notification-drop .top-bar-notification{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--dark-text-color);
}
.notification-drop .top-bar-notification h4{
   font-size: 16px;
   font-weight: 700;
   color: #403E57;
}
body.dark  .notification-drop .top-bar-notification h4{
  color: var(--dark-text-color);
}
.notification-drop .top-bar-notification p svg{
  font-size: 22px;
}
body.dark  .notification-drop .top-bar-notification p svg{
  color: var(--dark-text-color);
}
.bottom-bar-notification {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 5px;
}
.bottom-bar-notification::-webkit-scrollbar{
  height: 3px !important;
  width: 3px !important;
}
.bottom-bar-notification::-webkit-scrollbar-thumb{
  background-color: var(--secondary-color);

}
.bottom-bar-notification .single-item-noti{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--primary-bg);
  padding: 8px 5px;
  border-radius: 5px;
}
body.dark .bottom-bar-notification .single-item-noti{
  background-color: #12254e !important;
  color: var(--dark-text-color);
}
body.dark .bottom-bar-notification .single-item-noti svg{
  color: var(--dark-text-color);
}
.bottom-bar-notification .single-item-noti.custom{
  display: flex;
  align-items: center;
}
.bottom-bar-notification .single-item-noti .not-image {
  position: relative;
  width: 100px;
  height: 53px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 5px;
}
.bottom-bar-notification .single-item-noti .not-image.cart-abc {
  position: relative;
  width: 44px;
  height: 53px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 5px;
}
.bottom-bar-notification .single-item-noti .not-image  .media-act {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #27bf68;
  cursor: pointer;
  left: 29px;
  top: -12px !important;
  border: 1px solid var(--dark-text-color);
}
.bottom-bar-notification .single-item-noti .not-image  img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.bottom-bar-notification .single-item-noti .not-image  img.mail-img {
border: 2px solid var(--secondary-color);
padding: 2px;
}
.bottom-bar-notification .single-item-noti .not-image .media{
 position: absolute;
 top: 25px;
 left: 5px;
}
.bottom-bar-notification .single-item-noti .not-image .media svg{
  color: #fff;
  background-color: red;
  font-size: 20px;
  border: 2px solid var(--dark-text-color);
  border-radius: 50%;
  padding: 2px;
}
.bottom-bar-notification .single-item-noti .not-info{
  cursor: pointer;
}
.bottom-bar-notification .single-item-noti .not-info h4{
  font-size: 13px;
}
.bottom-bar-notification .single-item-noti .not-info p{
  color: var(--secondary-color);
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}
.bottom-bar-notification .single-item-noti .not-info h6{
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}
.bottom-bar-notification .single-item-noti .noti-drop button{
   border: none;
   background: transparent;
}
.bottom-bar-notification .single-item-noti .noti-drop button svg{
font-size: 20px;
}
.footer-bar{
  padding: 10px 0px;
}
.footer-bar button{
 width: 100%;
 color: #fff;
 background-color: var(--secondary-color);
 border: none;
 border-radius: 5px;
 padding: 4px 0px;
 margin-right: 5px;

}
 button.open-btn.cart-icon-top{
  position: relative;
}
.topper-box {
  position: absolute;
  background-color: var(--secondary-color);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  left: 18px;
  top: -11px;
}
.topper-box span{
color: #fff;
font-size: 11px;
display: block;
padding: 2px;
text-align: center;
font-weight: 500;
}
.col-sm-7.part3{
  width: 54% !important;
}
.tablet-show-search{
  width: 0px;
  visibility: hidden;
  opacity: 1;
}



/***** Responsive css *******/
@media (min-width : 320px) and (max-width: 768px){
.col-sm-2.part1.menu-option {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.mobile-menu{
  opacity: 1;
  visibility: visible;
  width: 1000% !important;
}
.mobile-menu button{
   background-color: transparent;
   border: 1px solid rgb(180, 180, 180);
   border-radius: 4px;
   position: absolute;
   top: 10%;
   right: -108% !important;
}
.col-sm-3.part2.mobile-hide {
  opacity: 0;
  visibility: hidden;
  width: 0px !important;
}
  .col-sm-7.part3 {
    width: 88% !important;
    margin: auto;
    padding: 0px !important;
    margin-top: 20px;
}
.notification-drop {
    right: 6% !important;
}

.col-sm-2.col-md-12.part1.menu-option {
  width: 45%;
  flex: 0 0 45% !important;
}

}

/**** tablet responsive  ******/
 @media (min-width : 576px) and (max-width: 768px){
.mobile-menu button svg{
    font-size: 30px !important;
}
.tablet-show-search{
  display: block;
  visibility: visible;
  opacity: 1;
  width: 320px;
}
.search-box {
  padding: 0px 0px;
}
.searchbox {
   margin-left: 0px !important; 
}
.menu-part.menu-last {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


}


